<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ships">

    <application
        android:name=".Ships"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Scores"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EmailAndPassSignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmailAndPassLogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateBattleField"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseGameLevel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WinPlayerTwo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameBattle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WinPlayerOne"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>